:root {
  --black: #101010;
  --white: #fff;
  --purple: #E2BEFF;
  --text-color: #101010;
  --button-color: #F3F3F3;
  --button-color-hover: #E8E8E8;
  --button-color-active: #101010;
  --header-width: 1440px;
  --content-width: 1216px;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--text-color);

  &:before,
  &:after {
    box-sizing: border-box;
  }
}
a {
  text-decoration: none; 
  color: inherit;
}

body {
  background-color: var(--white);
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 400;
}

h1 {
  font-size: 84px;
  color: var(--text-color);
  line-height: 100%;
  font-weight: 400;
}

h4 {
  font-size: 36px;
  color: var(--text-color);
  line-height: 124%;
  font-weight: 400;
}


img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}